## Welcome to BQuant
<img src="../images/circle.png" width="250" height="250" />

In [14]:
# Import the BQL library
import bql
import pandas as pd

# Instantiate an object to interface with the BQL service
bq = bql.Service()

* `Copy/Paste` example queries from **Cell B16** of the Example Queries tab in from the spreadsheet.

### Paste BQL String Query Here

In [15]:
pwd

'C:\\Users\\MitchellDavid\\AppData\\Local\\bipy\\6316781\\projects\\0000000000000000000000000000000006316781\\Demo Code'

In [16]:
# Define the request string
request = """
get(avg(group(tot_buy_rec/tot_analyst_rec, gics_sector_name)))  
for(filter(members(['SPX Index']), net_income > 0)) 

"""

In [7]:
request = """
let(
#AuM = net_chg(FUND_TOTAL_ASSETS(CURRENCY=USD,dates=range(2019-01-01,2020-06-12),fill=prev)).Value/10^9;
#UnivFilter = FUND_TYP=='ETF' AND FUND_ASSET_CLASS_FOCUS=='Equity';
#AuMRank = grouprank(#AuM);
)

get(groupsort(#AuM().Value) as #USDBn, NAME)				

for(filter(filter(FundsUniv(['Primary','Active']),#UnivFilter),#AuMRank<=10))

with(mode=cached)				

"""

In [8]:
#request

### Execute Query

In [9]:
# Execute the request
response = bq.execute(request)

### Each column is a dataframe with associated medata `combinded_df()` works?

In [10]:
# Display the response in a DataFrame
# Use the combined_df function to display the three returned values in a single DataFrame 
newdf = bql.combined_df(response)
newdf

                   #USDBn                            NAME
ID
QQQ US Equity   49.911337      Invesco QQQ Trust Series 1
VOO US Equity   48.786481            Vanguard S&P 500 ETF
VTI US Equity   46.148231  Vanguard Total Stock Market ET
IVV US Equity   41.804595        iShares Core S&P 500 ETF
1306 JP Equity  39.574751      TOPIX Exchange Traded Fund
SPY US Equity   31.495045          SPDR S&P 500 ETF Trust
VUG US Equity   21.072159             Vanguard Growth ETF
1308 JP Equity  19.027867         Listed Index Fund TOPIX
1305 JP Equity  18.193309                 Daiwa ETF-TOPIX
USMV US Equity  14.857808  iShares MSCI USA Min Vol Facto

### Combine each dataframe using `.name` descriptor from response object

In [11]:
newdf4 = pd.DataFrame({r.name:r.df()[r.name] for r in response})
newdf4

                   #USDBn                            NAME
1305 JP Equity  18.193309                 Daiwa ETF-TOPIX
1306 JP Equity  39.574751      TOPIX Exchange Traded Fund
1308 JP Equity  19.027867         Listed Index Fund TOPIX
IVV US Equity   41.804595        iShares Core S&P 500 ETF
QQQ US Equity   49.911337      Invesco QQQ Trust Series 1
SPY US Equity   31.495045          SPDR S&P 500 ETF Trust
USMV US Equity  14.857808  iShares MSCI USA Min Vol Facto
VOO US Equity   48.786481            Vanguard S&P 500 ETF
VTI US Equity   46.148231  Vanguard Total Stock Market ET
VUG US Equity   21.072159             Vanguard Growth ETF

In [13]:
dir(bql)

['BqapiRequestExecutor',
 'BqlItem',
 'InvalidItemsError',
 'InvalidParameterGroupError',
 'InvalidParameterNameError',
 'InvalidParameterValueError',
 'InvalidUniverseError',
 'Items',
 'MissingParameterError',
 'NA',
 'Preferences',
 'Request',
 'RequestExecutor',
 'Response',
 'ResponseError',
 'Service',
 'SingleItemResponse',
 'UnexpectedParameterError',
 'UnexpectedResponseError',
 'Universe',
 'ValidationError',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_version',
 'ast',
 'combined_df',
 'let',
 'logging',
 'om',
 'request',
 'service']