## Welcome to BQuant

<img style="float:left;" src="../images/workflow.png" width="500" height="500" />

In [1]:
pwd

'C:\\Users\\MitchellDavid\\AppData\\Local\\bipy\\6316781\\projects\\0000000000000000000000000000000006316781\\Demo Code'

In [1]:
# Import the BQL library
import bql

# Instantiate an object to interface with the BQL service
bq = bql.Service()

# BQL String Interface Basics

This notebook provides an introduction to the string interface. We'll start with a simple example and build on it to learn how to construct more complex requests.

<a href = "#A">Example A: Requesting a Single Data Item</a>  
<a href = "#B">Example B: Requesting Multiple Data Items</a>  
<a href = "#C">Example C: Requesting Time Series and Point-In-Time Data</a>  
<a href = "#D">Example D: Requesting Data for Multiple Securities</a>  
<a href = "#E">Options Examples</a>  
<a href = "#F">ETF Examples</a>  
<a href = "#H">Additional (Portfolio interop, technicals)</a>  
<a href = "#J">Cross Asset</a>  
<br>

## Example A: Requesting a Single Data Item <a name="A"></a>
In this example, we'll create and execute the simplest possible request: a single data item for a single security. We'll build on this request in later examples. For now, let's request the last price for AAPL US Equity. To do this, we'll define a variable for the request and pass it to the BQL execute function.

- **Request syntax**:  
        `get(data fields)for([security or universe])`
- **BQL execute function**:  
        `bq.execute(request)`

_Note: For more information on finding data fields that can be queried with BQL, see <a href = "#related"> Related Resources</a> ._

### Basic Last Price Request

In [2]:
# Define the request string 
request = "get(PX_LAST)for(['ABX CN Equity'])"

# Execute the request
response = bq.execute(request)

# Display the response in a DataFrame
response[0].df()

                    DATE CURRENCY  PX_LAST
ID
ABX CN Equity 2020-08-28      CAD    38.59

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## Example B: Requesting Multiple Data Items <a name="B"></a>
Now that we've seen how to request a single data item, let's expand the previous example to request additional data items. We'll again use AAPL US Equity, but this time we'll request the last price, high price, and low price.

### Example Code

In [3]:
# Define the request string
request = """
get(PX_LAST, PX_HIGH, PX_LOW)
for(['AAPL US Equity'])
"""

# Execute the request
response = bq.execute(request)

# Display the response in a DataFrame
# Use the combined_df function to display the three returned values in a single DataFrame 
bql.combined_df(response)

# Note that you can also display a single data item from the response 
# by running response[0].df(), response[1].df(), or response[2].df(),

                     DATE CURRENCY     PX_LAST     PX_HIGH      PX_LOW
ID
AAPL US Equity 2020-08-28      USD  502.450012  505.040009  499.429993

In [4]:
#Define utility BQL function to 
def query_bql(s):
    resp = bq.execute(s)
    df = bql.combined_df(resp)
    return df

In [5]:
request = """
get(PX_LAST, PX_HIGH, PX_LOW)
for(['F US Equity'])
"""

In [6]:
df_response = query_bql(request)
df_response

                  DATE CURRENCY  PX_LAST  PX_HIGH  PX_LOW
ID
F US Equity 2020-08-28      USD   6.8871     6.95    6.86

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## Example C: Requesting Time Series and Point-In-Time Data <a name="C"></a>
In the examples above, we didn't specify a data date so BQL returned data for today's date by default. If we want to return data for a specific date or date range, we can pass start and end values as arguments to the BQL range function. Note that the dates are associated with the data fields, not the request.

_Note: To request point-in-time data (for a single date), pass the same value for the start and end parameters._


### Example Code

In [7]:
# Define the request string, specifying the date range for each field
# Since we're using the same range for all of the fields, we can use
# a BQL let clause to define a local variable 
request = """
let(
    #date_range = RANGE(2019-06-05, 2020-02-28);
    )
get(
    PX_LAST(dates=#date_range) as #PX_LAST,
    PX_HIGH(dates=#date_range), 
    PX_LOW(dates=#date_range)
    )
for(
    ['JNJ US Equity', 'F US Equity']
    )
"""

# Execute the request
response = bq.execute(request)

# Display the response in a DataFrame
# Use the combined_df function to display 
# the three returned values in a single DataFrame 
df =bql.combined_df(response)
df.sample(n=5)

,DATE,CURRENCY,#PX_LAST,PX_HIGH(dates=#date_range),PX_LOW(dates=#date_range)
ID,,,,,
F US Equity,2019-09-01,USD,NaN,NaN,NaN
F US Equity,2020-01-23,USD,9.14,9.16,8.93
F US Equity,2019-09-11,USD,9.42,9.43,9.29
F US Equity,2019-09-22,USD,NaN,NaN,NaN
F US Equity,2019-11-13,USD,8.81,9.00,8.80

In [8]:
df.shape

(538, 5)

In [9]:
df2 = df.reset_index()
df2.head()

,ID,DATE,CURRENCY,#PX_LAST,PX_HIGH(dates=#date_range),PX_LOW(dates=#date_range)
0,JNJ US Equity,2019-06-05,USD,134.38,135.13,133.86
1,JNJ US Equity,2019-06-06,USD,136.68,137.66,134.59
2,JNJ US Equity,2019-06-07,USD,138.55,139.59,137.14
3,JNJ US Equity,2019-06-08,USD,NaN,NaN,NaN
4,JNJ US Equity,2019-06-09,USD,NaN,NaN,NaN

In [10]:
df3 = df2.pivot(index='DATE', columns='ID',values = '#PX_LAST')
df3.tail(n=10)

ID          F US Equity  JNJ US Equity
DATE
2020-02-19         8.00         148.94
2020-02-20         8.03         148.37
2020-02-21         7.89         149.93
2020-02-22          NaN            NaN
2020-02-23          NaN            NaN
2020-02-24         7.57         145.91
2020-02-25         7.23         144.65
2020-02-26         7.21         143.68
2020-02-27         6.97         139.12
2020-02-28         6.96         134.48

In [11]:
df3.dropna().tail(n=10)

ID          F US Equity  JNJ US Equity
DATE
2020-02-14         8.10         150.13
2020-02-18         8.06         149.14
2020-02-19         8.00         148.94
2020-02-20         8.03         148.37
2020-02-21         7.89         149.93
2020-02-24         7.57         145.91
2020-02-25         7.23         144.65
2020-02-26         7.21         143.68
2020-02-27         6.97         139.12
2020-02-28         6.96         134.48

### One-Line Interactive Chart using `bqviz`

In [12]:
import bqviz as bqv

In [13]:
bqv.LinePlot(df3).set_style().show()

GridBox(children=(Figure(animation_duration=500, axes=[Axis(color='white', grid_color='#3c3c3c', grid_lines='dâ€¦

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## Example D: Requesting Data for Multiple Securities <a name="D"></a>
Now that we know how to pull multiple data items across a range of dates for a single security, let's look at how we can request data for multiple securities by passing a list as part of the request string.

### Example Code

In [14]:
# Define the request string, specifying the date range for each field
# Since we're using the same range for all of the fields, we can use
# a BQL let clause to define a local variable 
request = """
let(
    #date_range = RANGE(2019-06-05, 2020-02-28);
    )
get(
    PX_LAST(dates=#date_range) as #PX_LAST,
    PX_HIGH(dates=#date_range) as #PX_HIGH, 
    PX_LOW(dates=#date_range) as #PX_LOW
    )
for(
    ['NFLX US Equity', 'AMZN US Equity', 'TSLA US Equity']
    )
"""

# Execute the request
response = bq.execute(request)

# Display the response in a DataFrame
# Use the combined_df function to display 
# the three returned values in a single DataFrame
# To verify the output, use tail(3) to show the last three rows of the response
bql.combined_df(response).sample(n=15)

                     DATE CURRENCY  #PX_LAST  #PX_HIGH   #PX_LOW
ID
TSLA US Equity 2020-01-20      USD       NaN       NaN       NaN
NFLX US Equity 2019-10-12      USD       NaN       NaN       NaN
AMZN US Equity 2019-09-21      USD       NaN       NaN       NaN
NFLX US Equity 2019-07-11      USD    379.50    384.54   378.800
TSLA US Equity 2019-09-16      USD    242.81    247.43   241.170
AMZN US Equity 2019-09-11      USD   1822.99   1833.42  1809.080
NFLX US Equity 2020-01-08      USD    339.26    342.70   331.050
TSLA US Equity 2019-10-31      USD    314.92    319.00   313.000
TSLA US Equity 2020-01-12      USD       NaN       NaN       NaN
AMZN US Equity 2020-01-28      USD   1853.25   1858.11  1830.020
TSLA US Equity 2020-02-09      USD       NaN       NaN       NaN
AMZN US Equity 2019-09-07      USD       NaN       NaN       NaN
TSLA US Equity 2019-06-22      USD       NaN       NaN       NaN
TSLA US Equity 2019-08-17      USD       NaN       NaN       NaN
NFLX US Equity 2019-06-20      USD    365.21    370.12   361.215

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## Single Stock Option Open Interest Analysis <a name="E"></a>
#### <font color=orange> Expiries with highest Open Interest </font>

In [ ]:
# Define the request string, specifying the date range for each field
# Since we're using the same range for all of the fields, we can use
# a BQL let clause to define a local variable 
request2 = """
get(
      sum(group(znav(
            OPEN_INT().value), 
            EXPIRE_DT)
        ) as #OPEN_INTEREST
    )
for(
    options(['TSLA US EQUITY'])
    )														
"""

# Execute the request
response2 = bq.execute(request2)

# Display the response in a DataFrame
# Use the combined_df function to display 
# the three returned values in a single DataFrame
# To verify the output, use tail(3) to show the last three rows of the response
#bql.combined_df(response2).tail(3)
newdf = bql.combined_df(response2)
newdf = newdf.drop(['ORIG_IDS'], axis=1)
newdf

## Volatility Smile
#### <font color=orange> Implied Volatility Curve filtered by Open Interest </font>

In [ ]:
# Define the request string, specifying the date range for each field
request = """
get(groupsort(STRIKE_PX, order=ASC), OPEN_INT, IVOL) 
for(
    filter(
           options(['MSFT US Equity']), 
           PUT_CALL==IF(PCT_MONEYNESS<100,PUT,CALL)   AND 
           OPEN_INT > 10 AND 
           YEAR(EXPIRE_DT) ==2020 AND 
           MONTH(EXPIRE_DT)== 3 AND IVOL>0
         ) 
    )
														
"""

# Execute the request
response3 = bq.execute(request)

In [ ]:
# Display the response in a DataFrame
# Use the combined_df function to display 
newdf = bql.combined_df(response3)
newdf.sample(n=20)

## Vega Weighting
#### Average Vega weighted by Open Interest for monthly options on a list

In [ ]:
# Define the request string, specifying the date range for each field
request = """
get(
    wavg(
               group(znav(VEGA),UNDL_TICKER),  
               group(OPEN_INT,UNDL_TICKER) 
    ) as #AVGVEGA_OI
)  
for(
    filter(
        options(
            ['TSLA US EQUITY','CRM US EQUITY','IBM US EQUITY',
            'GOOG US EQUITY', 'MSFT US EQUITY', 'ESL US EQUITY']
            ), 
        EXPIRATION_PERIODICITY==Monthly
        )
    )											
"""

# Execute the request
response4 = bq.execute(request)

# Display the response in a DataFrame
newdf = bql.combined_df(response4)

In [ ]:
newdf = newdf.drop(["DATE","EXERCISE_TYPE", 'EXPIRE_DT', 'PUT_CALL', "ORIG_IDS", 'STRIKE_PX'], axis=1)
newdf

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## ETF Fund Flows<a name="F"></a>
#### <font color=orange> Fixed Income Fund Flows bucketed by Fund Objective </font>

In [15]:
# Define the request string, specifying the date range for each field
request = """
let(
    #FLOW_30D = SUM(
        FUND_FLOW(Dates=range(-1m,0d),
        CURRENCY=USD,FILL=PREV)
        );
) 
get(
    sum(group(#FLOW_30D, FUND_OBJECTIVE_LONG))  as #30D_FLOW
) 
for(
    Filter(Fundsuniv(['ALL','Primary']),FUND_TYP=='ETF' AND 
                FUND_GEO_FOCUS=='U.S.' AND 
                FUND_ASSET_CLASS_FOCUS=='Fixed Income' AND 
                SUM(FUND_FLOW(Dates=range(-1m,0d),CURRENCY=USD,FILL=PREV)) > 0)
)																				
"""

# Execute the request
response5 = bq.execute(request)

In [16]:
# Display the response in a DataFrame
newdf = bql.combined_df(response5)
newdf = newdf.drop(["ORIG_IDS"], axis=1)
newdf

,DATE,CURRENCY,FUND_OBJECTIVE_LONG,#30D_FLOW
ID,,,,
Aggregate Bond,2020-06-10,USD,Aggregate Bond,1.407369e+10
Corporate,2020-06-10,USD,Corporate,3.755958e+10
Government,2020-06-10,USD,Government,4.654779e+09
Inflation Protected,2020-06-10,USD,Inflation Protected,2.057680e+09
Long Term Corporate Bond,2020-06-10,USD,Long Term Corporate Bond,2.980380e+06
Mortgage-Backed,2020-06-10,USD,Mortgage-Backed,1.316702e+09
Muni National Long,2020-06-10,USD,Muni National Long,2.153631e+07
Municipals,2020-06-10,USD,Municipals,3.571756e+09
NullGroup,2020-06-10,USD,None,1.441951e+09
Preferred,2020-06-10,USD,Preferred,7.895536e+08
US,2020-06-10,USD,US,4.846535e+07

## ETF Performance
#### <font color=orange> Big moves recently </font>

In [17]:
# Define the request string, specifying the date range for each field
request = """
let(
    #PctChg3day=pct_chg(dropna(px_last(start=-3d)));
) 
get(#PctChg3day) 
for(
    filter(
           fundsuniv(['PRIMARY','ACTIVE']),
           fund_asset_class_focus == 'Equity' AND 
            #PctChg3day > 10
     )
) 
with(mode='cached')														
"""

# Execute the request
response6 = bq.execute(request)

In [18]:
# Display the response in a DataFrame
newdf = bql.combined_df(response6)
newdf = newdf.drop(["CURRENCY"], axis=1)
newdf

                         DATE  #PctChg3day
ID
BEARAKSO NO Equity 2020-06-09    21.092044
BULLGOGL NO Equity 2020-06-10    15.827339
DRIP US Equity     2020-06-09    15.047022
BEAROBX5 NO Equity 2020-06-10    11.444213
AAP2 LN Equity     2020-06-10    11.331527
6C03638 KS Equity  2020-06-10    13.573951
6C09635 KS Equity  2020-06-10    13.249145
6C12183 KS Equity  2020-06-10    12.719392
6C18611 KS Equity  2020-06-10    11.684411
6C18032 KS Equity  2020-06-10    12.690733
6C18123 KS Equity  2020-06-10    12.825136
6C21326 KS Equity  2020-06-10    11.812751
6C23116 KS Equity  2020-06-10    11.713416
SG87 LN Equity     2020-06-10    13.440118
501311 CH Equity   2020-06-10   252.578228
NRGD US Equity     2020-06-09    11.716397
3SBP LN Equity     2020-06-09    10.712386
3SRR LN Equity     2020-06-10    53.446884
3SRD LN Equity     2020-06-09    13.562012
3SLL LN Equity     2020-06-09    15.272909
3SBC LN Equity     2020-06-09    13.562790
BULLNEL NO Equity  2020-06-10    22.640002
BEARSTB3 NO Equity 2020-06-09    18.874773
HIBS US Equity     2020-06-09    12.291667
FB3 LN Equity      2020-06-09    10.659519
AMD2 LN Equity     2020-06-09    10.688177
NFL3 LN Equity     2020-06-09    13.946907
NVD3 LN Equity     2020-06-09    11.721519

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## Exponential Moving Avg of Skew<a name="G"></a>
#### 5 day period, 30d 90/110

In [ ]:
request = """
let(
    #Skew=implied_volatility(EXPIRY=30D,PCT_MONEYNESS=90,fill=prev)-implied_volatility(EXPIRY=30D,PCT_MONEYNESS=110,fill=prev);
    #EMAVG_Skew=emavg(close=#skew,period=5);
    #SPX_EMAVG_Skew=wavg(group(#EMAVG_Skew),group(id().weights));
    #Hist_SPX_EMAVG_Skew=rolling(#SPX_EMAVG_Skew,iterationdates=range(-2y,0d,frq=m));
) 
get(
    #Hist_SPX_emavg_skew
) 
for(
    members('spx index')
)												
"""

# Execute the request
response7 = bq.execute(request)

In [ ]:
# Display the response in a DataFrame
newdf = bql.combined_df(response7)
newdf

In [ ]:
newdf = newdf.drop(['ORIG_IDS:0', 'ORIG_IDS:1', 'ITERATION_DATE'], axis=1)
newdf

## Reading Public Portfolios<a name="H"></a>
#### e.g. using the FLNG number

In [19]:
request = """
get(
      SECURITY_DES
) 
for(
    members(['U6316781-139 Client'],Type=PORT)
)
"""

# Execute the request
response8 = bq.execute(request)

In [20]:
# Display the response in a DataFrame
newdf2 =response8[0].df()
#newdf2 = bql.combined_df(response8)
newdf2

                SECURITY_DES
ID
AAPL UW Equity          None
BAC UN Equity           None
BRK/B UN Equity         None
C UN Equity             None
COP UN Equity           None
CSCO UW Equity          None
CVX UN Equity           None
GE UN Equity            None
GOOGL UW Equity         None
GS UN Equity            None
HPQ UN Equity           None
IBM UN Equity           None
INTC UW Equity          None
JNJ UN Equity           None
JPM UN Equity           None
KO UN Equity            None
MRK UN Equity           None
MSFT UW Equity          None
ORCL UW Equity          None
PEP UN Equity           None
PFE UN Equity           None
PG UN Equity            None
PM UN Equity            None
QCOM UW Equity          None
SLB UN Equity           None
T UN Equity             None
VZ UN Equity            None
WFC UN Equity           None
WMT UN Equity           None
XOM UN Equity           None

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## Cross Asset Query <a name="J"></a>
##### What are the companies that I am the most exposed to within the US Corporate Bond Index (`LUACTRUU`)?

In [3]:
request = """
let(
#NAME=VALUE(NAME,translatesymbols(members('LUACTRUU index'),instrumentidtype='Corp',targetIDtype='fundamentalticker'),mapby=lineage).value;

#TICKER=VALUE(FUNDAMENTAL_TICKER,translatesymbols(members('LUACTRUU index'),instrumentidtype='Corp',targetIDtype='fundamentalticker'),mapby=lineage).value;

#ID=CONCAT(CONCAT(#NAME,':  '), #TICKER);
#wgt=ID().Weights;) 

get(groupsort(SUM(GROUP(#wgt,#ID))) as #PCT) 

for(Members('LUACTRUU Index')) 

with(fill=prev)				
"""

# Execute the request
response9 = bq.execute(request)

In [22]:
# Display the response in a DataFrame
newdf3 =response9[0].df()
#newdf2 = bql.combined_df(response8)
newdf3

,ORIG_IDS,#ID,#PCT
ID,,,
JPMorgan Chase & Co: JPM US Equity,None,JPMorgan Chase & Co: JPM US Equity,2.271026
Bank of America Corp: BAC US Equity,None,Bank of America Corp: BAC US Equity,2.158335
Wells Fargo & Co: WFC US Equity,None,Wells Fargo & Co: WFC US Equity,1.889762
AT&T Inc: T US Equity,None,AT&T Inc: T US Equity,1.760113
Citigroup Inc: C US Equity,None,Citigroup Inc: C US Equity,1.717097
Goldman Sachs Group Inc/The: GS US Equity,None,Goldman Sachs Group Inc/The: GS US Equity,1.541185
Comcast Corp: CMCSA US Equity,None,Comcast Corp: CMCSA US Equity,1.482593
Morgan Stanley: MS US Equity,None,Morgan Stanley: MS US Equity,1.400931
Apple Inc: AAPL US Equity,None,Apple Inc: AAPL US Equity,1.288450
Verizon Communications Inc: VZ US Equity,None,Verizon Communications Inc: VZ US Equity,1.209451
Oracle Corp: ORCL US Equity,None,Oracle Corp: ORCL US Equity,1.200005
AbbVie Inc: ABBV US Equity,None,AbbVie Inc: ABBV US Equity,1.188699
CVS Health Corp: CVS US Equity,None,CVS Health Corp: CVS US Equity,1.161865
Microsoft Corp: MSFT US Equity,None,Microsoft Corp: MSFT US Equity,1.096143
Abi Sab Group Holding Ltd: SAB LN Equity,None,Abi Sab Group Holding Ltd: SAB LN Equity,1.034093
HSBC Holdings PLC: HSBA LN Equity,None,HSBC Holdings PLC: HSBA LN Equity,0.941675
Charter Communications Inc: CHTR US Equity,None,Charter Communications Inc: CHTR US Equity,0.784296
Walt Disney Co/The: DIS US Equity,None,Walt Disney Co/The: DIS US Equity,0.768360
UnitedHealth Group Inc: UNH US Equity,None,UnitedHealth Group Inc: UNH US Equity,0.729736
Boeing Co/The: BA US Equity,None,Boeing Co/The: BA US Equity,0.706718
General Electric Co: GE US Equity,None,General Electric Co: GE US Equity,0.679996
Bristol-Myers Squibb Co: BMY US Equity,None,Bristol-Myers Squibb Co: BMY US Equity,0.664613
Walmart Inc: WMT US Equity,None,Walmart Inc: WMT US Equity,0.651351
Pfizer Inc: PFE US Equity,None,Pfizer Inc: PFE US Equity,0.634367
Exxon Mobil Corp: XOM US Equity,None,Exxon Mobil Corp: XOM US Equity,0.612040
Shell International Finance BV: 599327Z NA Equity,None,Shell International Finance BV: 599327Z NA Eq...,0.602703
International Business Machine: IBM US Equity,None,International Business Machine: IBM US Equity,0.599667
Energy Transfer Operating LP: ETP US Equity,None,Energy Transfer Operating LP: ETP US Equity,0.598905
Intel Corp: INTC US Equity,None,Intel Corp: INTC US Equity,0.576575
Broadcom Inc: AVGO US Equity,None,Broadcom Inc: AVGO US Equity,0.573361
...,...,...,...
TPG Specialty Lending Inc: TSLX US Equity,ZQ319855 Corp,TPG Specialty Lending Inc: TSLX US Equity,0.005229
Iowa Health System: 79579MF US Equity,BJ240257 Corp,Iowa Health System: 79579MF US Equity,0.005218
Trustees of Boston College: 4144477ZUS Equity,ZQ193295 Corp,Trustees of Boston College: 4144477ZUS Equity,0.005168
Janus Henderson Group PLC: JHG US Equity,UV380214 Corp,Janus Henderson Group PLC: JHG US Equity,0.005164
Air Liquide SA: AI FP Equity,EK331653 Corp,Air Liquide SA: AI FP Equity,0.005137
Rayonier Inc: RYN US Equity,EJ048881 Corp,Rayonier Inc: RYN US Equity,0.005092
Main Street Capital Corp: MAIN US Equity,ZS258480 Corp,Main Street Capital Corp: MAIN US Equity,0.005090
Prospect Capital Corp: PSEC US Equity,EJ587828 Corp,Prospect Capital Corp: PSEC US Equity,0.005040
Hartford HealthCare Corp: 7604651ZUS Equity,ZP680987 Corp,Hartford HealthCare Corp: 7604651ZUS Equity,0.005015
Webster Financial Corp: WBS US Equity,AX779959 Corp,Webster Financial Corp: WBS US Equity,0.005010
Selective Insurance Group Inc: SIGI US Equity,AX439019 Corp,Selective Insurance Group Inc: SIGI US Equity,0.004978
Wintrust Financial Corp: WTFC US Equity,ZS974039 Corp,Wintrust Financial Corp: WTFC US Equity,0.004975
Orlando Health Obligated Group: 1396373DUS Equity,AR014377 Corp,Orlando Health Obligated Group: 1396373DUS Eq...,0.004948
Sompo Japan Insurance Inc: 1228123DJP Equity,EJ388405 Corp,Sompo Japan Insurance Inc: 1228123DJP Equity,0.004892
MedStar Health Inc: 20076Z US Equity,ZP410685 Corp,MedStar Health Inc: 20076Z US Equity,0.004842
Regency Centers Corp: REG US Equity,EJ415633 Corp,Regency Centers Corp: REG US Equity,0.004839
Suntory Holdings Ltd: SUNTZ JP Equity,EJ193380 Corp,Suntory Holdings Ltd: SUNTZ JP Equity,0.004806
Associated Banc-Corp: ASB US Equity,AT939535 Corp,Associated Banc-Corp: ASB US Equity,0.004797
Domtar Corp: UFS US Equity,EJ056093 Corp,Domtar Corp: UFS US Equity,0.004785
Washington Real Estate Investm: WRE US Equity,EJ362259 Corp,Washington Real Estate Investm: WRE US Equity,0.004759
SL Green Realty Corp: SLG US Equity,EJ439772 Corp,SL Green Realty Corp: SLG US Equity,0.004739
Allina Health System: 68907Z US Equity,ZS800054 Corp,Allina Health System: 68907Z US Equity,0.004701
Dartmouth-Hitchcock Health: 1572739DUS Equity,AR159090 Corp,Dartmouth-Hitchcock Health: 1572739DUS Equity,0.004675
FNB Corp/PA: FNB US Equity,BG174139 Corp,FNB Corp/PA: FNB US Equity,0.004671
Memorial Health Services: 3240434ZUS Equity,ZQ943115 Corp,Memorial Health Services: 3240434ZUS Equity,0.004621
New York Community Bancorp Inc: NYCB US Equity,AV435464 Corp,New York Community Bancorp Inc: NYCB US Equity,0.004592
Oaktree Specialty Lending Corp: OCSL US Equity,BG078565 Corp,Oaktree Specialty Lending Corp: OCSL US Equity,0.004563
BancorpSouth Bank: BXS US Equity,ZQ608645 Corp,BancorpSouth Bank: BXS US Equity,0.004531
Spirit Airlines Inc: SAVE US Equity,UV388933 Corp,Spirit Airlines Inc: SAVE US Equity,0.004372
Kite Realty Group Trust: KRG US Equity,QZ580190 Corp,Kite Realty Group Trust: KRG US Equity,0.004177

## Cross Asset Query <a name="H"></a>
##### Break out the average Equity Implied Volatility by Credit Rating for the US Corporate Index?

In [23]:
request = """
let(#buckets=if(in(BB_COMPOSITE,['BB','BB+','BB-']),'BB',
if(in(BB_COMPOSITE,['BBB','BBB+','BBB-']),'BBB',
if(in(BB_COMPOSITE,['B','B+','B-']),'B',
if(in(BB_COMPOSITE,['AA','AA+','AA-']),'AA',
if(in(BB_COMPOSITE,['AAA','AAA+','AAA-']),'AAA',
if(in(BB_COMPOSITE,['A','A+','A-']),'A',
'NR/Other'))))));

#INT_RATIO=VALUE(IMPLIED_VOLATILITY,translatesymbols(members('LUACTRUU index'),instrumentidtype='Corp',targetIDtype='fundamentalticker'),mapby=lineage).value;

#wgt=ID().Weights;

#AVG_IVOL=groupsort(WAVG(group(#INT_RATIO,#buckets),group(#wgt,#buckets)),order=desc);

#count=count(group(id,#buckets));) 

get(#AVG_IVOL,#count) 
for(Members('LUACTRUU Index'))

"""

# Execute the request
response_z = bq.execute(request)

In [24]:
# Display the response in a DataFrame
newdf4 =response_z[0].df()
#newdf2 = bql.combined_df(response8)
newdf4

         ORIG_IDS  #BUCKETS  #AVG_IVOL
ID
BB           None        BB  45.772802
BBB          None       BBB  39.618565
NR/Other     None  NR/Other  39.059128
A            None         A  35.971835
AA           None        AA  30.476305
AAA          None       AAA  27.620844

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>

## SCRATCH
get( sum(group(amt_outstanding,bics_level_1_sector_name))/1000000 as#Rolling_Debt) for(filter(members('lbeatreu index'),maturity<2y)) with(currency=USD)



get(
       LOAN_TYP, MATURITY, LN_CURRENT_MARGIN().value, RTG_MOODY().value
)
for(
    members(['H319705-10 Client'],Type=PORT, Dates=2018-09-11)
)

In [ ]:
%pwd

## Example ETF Fund Flow

In [ ]:
request = """
let(#ff = FUND_FLOW(Dates=range("2019-01-01","2020-01-30"),CURRENCY="USD")/10^7;
#ff_fam = sum(dropna(group(#ff,ULT_PARENT_TICKER_EXCHANGE),true));)

get(groupsort(#ff_fam) as #FundFlowsbyFamily)

for(filter( FundsUniv(['Active','Primary']), FUND_TYP=='ETF' AND ULT_PARENT_TICKER_EXCHANGE!='STT US' and ULT_PARENT_TICKER_EXCHANGE!=NA))
      with(MODE=CACHED)

"""

# Execute the request
response_z = bq.execute(request)

In [ ]:
newdf3 =response_z[0].df()
#newdf2 = bql.combined_df(response8)
newdf3

<div style="text-align: right"><a href="#BQL-String-Interface-Basics">Return to Top â†‘</a></div>