# Simple Fetch of some prices

In [1]:
# Import the BQL library
import bql
# Import the bqviz and bqplot libraries
import bqviz as bqv
from bqplot import pyplot as plt

# Instantiate an object to interface with the BQL service
bq = bql.Service()

In [2]:
# Define a request for the daily last price of Apple and IBM over the last year
request = "get(PX_LAST(dates=range(-1Y,-1D)) as #LAST_PRICE) for (['TWTR US Equity','MU US Equity'])"

# Execute the request to return a response object
response = bq.execute(request)

# Convert the response object to a DataFrame 
df = response[0].df()
df.head(n=20)

                     DATE CURRENCY  #LAST_PRICE
ID
TWTR US Equity 2019-05-14      USD        36.93
TWTR US Equity 2019-05-15      USD        37.90
TWTR US Equity 2019-05-16      USD        38.30
TWTR US Equity 2019-05-17      USD        37.50
TWTR US Equity 2019-05-18      USD          NaN
TWTR US Equity 2019-05-19      USD          NaN
TWTR US Equity 2019-05-20      USD        37.15
TWTR US Equity 2019-05-21      USD        37.47
TWTR US Equity 2019-05-22      USD        38.58
TWTR US Equity 2019-05-23      USD        37.19
TWTR US Equity 2019-05-24      USD        37.41
TWTR US Equity 2019-05-25      USD          NaN
TWTR US Equity 2019-05-26      USD          NaN
TWTR US Equity 2019-05-27      USD          NaN
TWTR US Equity 2019-05-28      USD        37.29
TWTR US Equity 2019-05-29      USD        36.85
TWTR US Equity 2019-05-30      USD        37.14
TWTR US Equity 2019-05-31      USD        36.44
TWTR US Equity 2019-06-01      USD          NaN
TWTR US Equity 2019-06-02      USD          NaN

In [4]:
# Drop N/A values and reset the dataframe index
df = df.dropna().reset_index()
df.tail(n=20)

     index            ID       DATE CURRENCY  #LAST_PRICE
486    486  MU US Equity 2020-04-16      USD        45.53
487    487  MU US Equity 2020-04-17      USD        45.70
488    488  MU US Equity 2020-04-20      USD        43.40
489    489  MU US Equity 2020-04-21      USD        41.41
490    490  MU US Equity 2020-04-22      USD        43.91
491    491  MU US Equity 2020-04-23      USD        43.77
492    492  MU US Equity 2020-04-24      USD        44.16
493    493  MU US Equity 2020-04-27      USD        45.28
494    494  MU US Equity 2020-04-28      USD        45.31
495    495  MU US Equity 2020-04-29      USD        49.83
496    496  MU US Equity 2020-04-30      USD        47.89
497    497  MU US Equity 2020-05-01      USD        45.06
498    498  MU US Equity 2020-05-04      USD        44.46
499    499  MU US Equity 2020-05-05      USD        45.41
500    500  MU US Equity 2020-05-06      USD        46.08
501    501  MU US Equity 2020-05-07      USD        46.59
502    502  MU US Equity 2020-05-08      USD        48.25
503    503  MU US Equity 2020-05-11      USD        48.20
504    504  MU US Equity 2020-05-12      USD        45.69
505    505  MU US Equity 2020-05-13      USD        43.53

In [5]:
# Pivot the DataFrame on the columns to plot
df = df.pivot("DATE","ID","#LAST_PRICE")

# Check the DataFrame columns
df.head()

ID          MU US Equity  TWTR US Equity
DATE
2019-05-14         38.51           36.93
2019-05-15         38.41           37.90
2019-05-16         37.31           38.30
2019-05-17         36.06           37.50
2019-05-20         34.62           37.15

# 'Pythonic' Fetch (BQL Object Model)

In [6]:
# Instantiate an object to interface with the BQL service
bq = bql.Service()

# Define the date range for the request
date_range = bq.func.range('2019-06-05','2020-02-03')

# Define data items for the pricing fields
# Pass the defined date range
last = bq.data.px_last(dates=date_range)
high = bq.data.px_high(dates=date_range)
low = bq.data.px_low(dates=date_range)

# Generate the request using the security ticker and a list of the data items
request = bql.Request("GILD US Equity", [last, high, low])

# Execute the request
response = bq.execute(request)

# Display the response in a data frame
# Use the combined_df function to display 
# the three returned values in a single data frame 
newdf = bql.combined_df(response)

In [7]:
newdf.sample(n=10)

,DATE,CURRENCY,"PX_LAST(dates=RANGE(2019-06-05,2020-02-03))","PX_HIGH(dates=RANGE(2019-06-05,2020-02-03))","PX_LOW(dates=RANGE(2019-06-05,2020-02-03))"
ID,,,,,
GILD US Equity,2019-06-18,USD,68.20,68.900,67.3800
GILD US Equity,2020-01-24,USD,63.15,64.200,62.8400
GILD US Equity,2019-06-20,USD,68.57,69.320,67.7100
GILD US Equity,2019-12-21,USD,NaN,NaN,NaN
GILD US Equity,2019-09-13,USD,66.52,67.490,65.9600
GILD US Equity,2019-07-10,USD,67.46,68.530,66.9002
GILD US Equity,2019-10-13,USD,NaN,NaN,NaN
GILD US Equity,2020-01-23,USD,63.94,64.055,62.7400
GILD US Equity,2019-07-06,USD,NaN,NaN,NaN
GILD US Equity,2019-06-11,USD,66.10,66.835,65.9500

# Chart a time series

### With BQVIZ

In [8]:
# Pass the example DataFrame to the bqviz LinePlot object and apply Bloomberg styles
bqv_plot = bqv.LinePlot(df).set_style()

# Display the plot
bqv_plot.show()

GridBox(children=(Figure(animation_duration=500, axes=[Axis(color='white', grid_color='#3c3c3c', grid_lines='d…

### With BQPLOT

In [9]:
# Define series objects for the price lines
nvda_price = df['TWTR US Equity']
mu_price = df['MU US Equity']
# Define a series object for the date index
plot_dates = df.index

# Create the figure canvas
plt.figure()
# Define the plot using the price date and price series objects
nvda_line = plt.plot(plot_dates, [nvda_price, mu_price])

# Display the plot
plt.show()

VBox(children=(Figure(axes=[Axis(scale=DateScale()), Axis(orientation='vertical', scale=LinearScale())], fig_m…