In [2]:
import bql
bq = bql.Service()

### Single Data Item

In [5]:
px_last = bq.data.px_last() 
ticker = ['IBM US Equity', 'AAPL US Equity'] 
 
request = bql.Request(ticker, px_last) #Universe first 
 
response = bq.execute(request) 
response[0].df()

                     DATE CURRENCY   PX_LAST()
ID
IBM US Equity  2020-05-01      USD  122.790001
AAPL US Equity 2020-05-01      USD  291.211395

### Multiple Data Items

In [7]:
px_last = bq.data.px_last()
px_open = bq.data.px_open() 
px_low = bq.data.px_low() 
px_high = bq.data.px_high() 

fields = [px_last, px_open, px_low, px_high] 
tickers = ['IBM US Equity', 'AAPL US Equity'] 

request = bql.Request(ticker, fields)
response = bq.execute(request)

In [8]:
response[0].df()

                     DATE CURRENCY   PX_LAST()
ID
IBM US Equity  2020-05-01      USD  122.879997
AAPL US Equity 2020-05-01      USD  291.444000

In [10]:
df1 = bql.combined_df(response)
df1

,DATE,CURRENCY,PX_LAST(),PX_OPEN(),PX_LOW(),PX_HIGH()
ID,,,,,,
IBM US Equity,2020-05-01,USD,122.879997,123.190002,122.230003,123.190002
AAPL US Equity,2020-05-01,USD,291.444000,286.250000,285.850006,293.570007

### Time Series

In [13]:
import datetime

start_dt = datetime.datetime(2019, 1, 1) 
end_dt = datetime.datetime(2019, 12, 31)
last = bq.data.px_last(start=start_dt, end=end_dt)

tickers = ['IBM US Equity', 'AAPL US Equity']
request = bql.Request(tickers, last)
response = bq.execute(request)

In [15]:
#df1 = bql.combined_df(response)
#df1
temp = response[0].df()
temp.head(10)

                    DATE CURRENCY  PX_LAST(start=2019-01-01,end=2019-12-31)
ID
IBM US Equity 2019-01-01      USD                                       NaN
IBM US Equity 2019-01-02      USD                                    115.21
IBM US Equity 2019-01-03      USD                                    112.91
IBM US Equity 2019-01-04      USD                                    117.32
IBM US Equity 2019-01-05      USD                                       NaN
IBM US Equity 2019-01-06      USD                                       NaN
IBM US Equity 2019-01-07      USD                                    118.15
IBM US Equity 2019-01-08      USD                                    119.83
IBM US Equity 2019-01-09      USD                                    120.69
IBM US Equity 2019-01-10      USD                                    121.79

### User Defined Field (mathematical operation)

In [16]:
buy_rec = bq.data.tot_buy_rec()
tot_rec = bq.data.tot_analyst_rec() 
buy_pct = buy_rec / tot_rec * 100 
 
tickers = ['IBM US Equity', 'VOD LN Equity', 'RBS LN Equity'] 
 
request = bql.Request(tickers, buy_pct) 
response = bq.execute(request)

In [18]:
temp = response[0].df()
temp

                    DATE  (TOT_BUY_REC()/TOT_ANALYST_REC())*100
ID
IBM US Equity 2020-05-01                              28.571429
VOD LN Equity 2020-05-01                              73.076923
RBS LN Equity 2020-05-01                              58.333333

### params ~ with()

In [22]:
params = {'start': '2019-01-01', 'end': '2019-12-31',  
          'frq': 'd', 'fill': 'prev'}

In [25]:
px_last = bq.data.px_last(**params) 
px_open = bq.data.px_open(**params) 
px_low = bq.data.px_low(**params) 
px_high = bq.data.px_high(**params) 
 
fields = [px_last, px_open, px_low, px_high] 
ticker = ['IBM US Equity'] 
 
request = bql.Request(ticker, fields)
response = bq.execute(request)

In [27]:
temp = response[0].df()
temp.head()

,DATE,CURRENCY,"PX_LAST(start=2019-01-01,end=2019-12-31,frq=PER.d,fill=FILL.prev)"
ID,,,
IBM US Equity,2019-01-01,USD,113.67
IBM US Equity,2019-01-02,USD,115.21
IBM US Equity,2019-01-03,USD,112.91
IBM US Equity,2019-01-04,USD,117.32
IBM US Equity,2019-01-05,USD,117.32

### Universe

In [38]:
bond_univ = bq.univ.bonds('JPM US Equity') 
 
px_last = bq.data.px_last()
 
request = bql.Request(bond_univ, px_last)
response = bq.execute(request)

In [35]:
temp = response[0].df()
#temp.describe()
temp.head()

                    DATE CURRENCY   PX_LAST()
ID
BH840818 Corp 2020-05-01     None  101.290001
BH840819 Corp 2020-05-01     None  101.894997
BH840822 Corp 2020-05-01     None  103.588997
EH320991 Corp 2020-05-01     None   91.912003
ZP532072 Corp 2020-05-01     None   89.000000

In [44]:
index_members = bq.univ.members('INDU Index')

tickers = bq.data.long_comp_name()
px_last = bq.data.px_last()

fields = [tickers, px_last]
request = bql.Request(index_members, fields)
response = bq.execute(request)

In [49]:
df1 = bql.combined_df(response)
df1.sample(5)

                   LONG_COMP_NAME()       DATE CURRENCY   PX_LAST()
ID
CSCO UW Equity    Cisco Systems Inc        NaT     None         NaN
JPM UN Equity   JPMorgan Chase & Co        NaT     None         NaN
GS UN Equity                    NaN 2020-05-01      USD  177.580002
UNH UN Equity                   NaN 2020-05-01      USD  282.059998
DOW UN Equity                   NaN 2020-05-01      USD   33.610001

In [51]:
options = bq.data.bs_options_granted()
group = bq.func.group(options) 
count = bq.func.count(group) 
 
univ = bq.univ.members('SPX Index') 
 
request = bql.Request(univ, count)
response = bq.execute(request)

In [53]:
df1 = bql.combined_df(response)
df1

,REVISION_DATE,AS_OF_DATE,PERIOD_END_DATE,ORIG_IDS,COUNT(GROUP(BS_OPTIONS_GRANTED()))
ID,,,,,
IdentityGroup,2020-04-30,2020-05-01,2020-04-04,None,171

In [56]:
params = {'start': '2015-12-31','end':'2016-01-31', 'frq':'d'} 
 
eqy_dvd_yld_12m = bq.data.dividend_yield(**params) 
 
avg_eqy_dvd_yld = eqy_dvd_yld_12m.avg() 
gics_sector = bq.data.gics_sector_name() 
 
group_gics_dvd_yld = bq.func.group(eqy_dvd_yld_12m, 
                                   by=gics_sector).avg() 
 
ungroup_gics_dvd_yld = bq.func.ungroup(group_gics_dvd_yld) 
 
fields = [avg_eqy_dvd_yld, ungroup_gics_dvd_yld] 
 
universe = bq.univ.members('INDU Index') 
request = bql.Request(universe, fields)

In [57]:
response = bq.execute(request)
df1 = bql.combined_df(response)
df1

,DATE,"AVG(DIVIDEND_YIELD(start=2015-12-31,end=2016-01-31,frq=PER.d))",GICS_SECTOR_NAME(),ORIG_IDS,"UNGROUP(AVG(GROUP(DIVIDEND_YIELD(start=2015-12-31,end=2016-01-31,frq=PER.d),by=GICS_SECTOR_NAME())))"
ID,,,,,
AXP UN Equity,2016-01-31,0.018470,None,None,NaN
VZ UN Equity,2016-01-31,0.048325,None,None,NaN
BA UN Equity,2016-01-31,0.028356,None,None,NaN
CAT UN Equity,2016-01-31,0.048121,None,None,NaN
JPM UN Equity,2016-01-31,0.029265,None,None,NaN
CVX UN Equity,2016-01-31,0.051054,None,None,NaN
KO UN Equity,2016-01-31,0.031400,None,None,NaN
DIS UN Equity,2016-01-31,0.014043,None,None,NaN
XOM UN Equity,2016-01-31,0.037807,None,None,NaN
HD UN Equity,2016-01-31,0.019067,None,None,NaN
IBM UN Equity,2016-01-31,0.038874,None,None,NaN
JNJ UN Equity,2016-01-31,0.029771,None,None,NaN
MCD UN Equity,2016-01-31,0.029143,None,None,NaN
MRK UN Equity,2016-01-31,0.035249,None,None,NaN
MMM UN Equity,2016-01-31,0.028802,None,None,NaN
PFE UN Equity,2016-01-31,0.036153,None,None,NaN
PG UN Equity,2016-01-31,0.034074,None,None,NaN
TRV UN Equity,2016-01-31,0.022436,None,None,NaN
RTX UN Equity,2016-01-31,0.048859,None,None,NaN
WMT UN Equity,2016-01-31,0.031063,None,None,NaN
CSCO UW Equity,2016-01-31,0.034353,None,None,NaN
INTC UW Equity,2016-01-31,0.030695,None,None,NaN
MSFT UW Equity,2016-01-31,0.024565,None,None,NaN
GS UN Equity,2016-01-31,0.015808,None,None,NaN
UNH UN Equity,2016-01-31,0.016593,None,None,NaN
WBA UW Equity,2016-01-31,0.017343,None,None,NaN
AAPL UW Equity,2016-01-31,0.020573,None,None,NaN
DOW UN Equity,2016-01-31,NaN,None,None,NaN
V UN Equity,2016-01-31,0.006838,None,None,NaN
NKE UN Equity,2016-01-31,0.009637,None,None,NaN
AXP UN Equity,2016-01-31,NaN,Financials,None,0.021495
VZ UN Equity,2016-01-31,NaN,Communication Services,None,0.031184
BA UN Equity,2016-01-31,NaN,Industrials,None,0.038534
CAT UN Equity,2016-01-31,NaN,Industrials,None,0.038534
JPM UN Equity,2016-01-31,NaN,Financials,None,0.021495
CVX UN Equity,2016-01-31,NaN,Energy,None,0.044431
KO UN Equity,2016-01-31,NaN,Consumer Staples,None,0.028470
DIS UN Equity,2016-01-31,NaN,Communication Services,None,0.031184
XOM UN Equity,2016-01-31,NaN,Energy,None,0.044431
HD UN Equity,2016-01-31,NaN,Consumer Discretionary,None,0.019282
IBM UN Equity,2016-01-31,NaN,Information Technology,None,0.025983
JNJ UN Equity,2016-01-31,NaN,Health Care,None,0.029442
MCD UN Equity,2016-01-31,NaN,Consumer Discretionary,None,0.019282
MRK UN Equity,2016-01-31,NaN,Health Care,None,0.029442
MMM UN Equity,2016-01-31,NaN,Industrials,None,0.038534
PFE UN Equity,2016-01-31,NaN,Health Care,None,0.029442
PG UN Equity,2016-01-31,NaN,Consumer Staples,None,0.028470
TRV UN Equity,2016-01-31,NaN,Financials,None,0.021495
RTX UN Equity,2016-01-31,NaN,Industrials,None,0.038534
WMT UN Equity,2016-01-31,NaN,Consumer Staples,None,0.028470
CSCO UW Equity,2016-01-31,NaN,Information Technology,None,0.025983
INTC UW Equity,2016-01-31,NaN,Information Technology,None,0.025983
MSFT UW Equity,2016-01-31,NaN,Information Technology,None,0.025983
GS UN Equity,2016-01-31,NaN,Financials,None,0.021495
UNH UN Equity,2016-01-31,NaN,Health Care,None,0.029442
WBA UW Equity,2016-01-31,NaN,Consumer Staples,None,0.028470
AAPL UW Equity,2016-01-31,NaN,Information Technology,None,0.025983
DOW UN Equity,2016-01-31,NaN,Materials,DOW UN Equity,NaN
V UN Equity,2016-01-31,NaN,Information Technology,None,0.025983
NKE UN Equity,2016-01-31,NaN,Consumer Discretionary,None,0.019282

In [64]:
bq.univ?

Type:        property
String form: <property object at 0x0000025168E66C28>
Docstring:
An accessor property for all BQL universe handlers.

You can use this method to access BQL universe handlers
to use in requests.

Example
-------
>>> bq = bql.Service()
>>> index = bq.univ.members("INDU Index")
>>> price = bq.data.px_last()
>>> request = bql.Request(index, price)
>>> response = bq.execute(request)
BQL response object

|

Find the 30 day moving average for all valid trading days (excludes weekends).

In [67]:
params = {'start': '2016-01-01',                    
          'end': '2016-12-31',                    
          'fill': 'na',                    
          'frq': 'd'} 
 
px_last = bq.data.px_last() 
drop_na = bq.func.dropna(px_last) 
window = bq.func.window(drop_na, windowsize=30) 
avg = bq.func.avg(window) 
 
ticker = 'FB US Equity' 
 
request = bql.Request(ticker, avg, with_params=params)
response = bq.execute(request)

In [68]:

df1 = bql.combined_df(response)
df1

,DATE,CURRENCY,ORIG_IDS,winDuration,winSize,WINDOW_ID,"AVG(WINDOW(DROPNA(PX_LAST()),windowsize=30))"
ID,,,,,,,
FB US Equity:W0,2016-02-16,USD,FB US Equity,44,30,W0,101.447667
FB US Equity:W1,2016-02-17,USD,FB US Equity,44,30,W1,101.547000
FB US Equity:W2,2016-02-18,USD,FB US Equity,44,30,W2,101.571667
FB US Equity:W3,2016-02-19,USD,FB US Equity,44,30,W3,101.625000
FB US Equity:W4,2016-02-22,USD,FB US Equity,46,30,W4,101.933000
FB US Equity:W5,2016-02-23,USD,FB US Equity,44,30,W5,102.204000
FB US Equity:W6,2016-02-24,USD,FB US Equity,44,30,W6,102.516333
FB US Equity:W7,2016-02-25,USD,FB US Equity,44,30,W7,102.806333
FB US Equity:W8,2016-02-26,USD,FB US Equity,44,30,W8,103.222333
FB US Equity:W9,2016-02-29,USD,FB US Equity,46,30,W9,103.507333
FB US Equity:W10,2016-03-01,USD,FB US Equity,43,30,W10,104.002333
FB US Equity:W11,2016-03-02,USD,FB US Equity,43,30,W11,104.492000
FB US Equity:W12,2016-03-03,USD,FB US Equity,43,30,W12,104.999667
FB US Equity:W13,2016-03-04,USD,FB US Equity,43,30,W13,105.474000
FB US Equity:W14,2016-03-07,USD,FB US Equity,43,30,W14,105.733667
FB US Equity:W15,2016-03-08,USD,FB US Equity,43,30,W15,106.031000
FB US Equity:W16,2016-03-09,USD,FB US Equity,43,30,W16,106.370000
FB US Equity:W17,2016-03-10,USD,FB US Equity,43,30,W17,106.799000
FB US Equity:W18,2016-03-11,USD,FB US Equity,43,30,W18,106.809000
FB US Equity:W19,2016-03-14,USD,FB US Equity,43,30,W19,106.731667
FB US Equity:W20,2016-03-15,USD,FB US Equity,43,30,W20,106.584333
FB US Equity:W21,2016-03-16,USD,FB US Equity,43,30,W21,106.503333
FB US Equity:W22,2016-03-17,USD,FB US Equity,43,30,W22,106.447667
FB US Equity:W23,2016-03-18,USD,FB US Equity,43,30,W23,106.479667
FB US Equity:W24,2016-03-21,USD,FB US Equity,43,30,W24,106.739000
FB US Equity:W25,2016-03-22,USD,FB US Equity,43,30,W25,107.155667
FB US Equity:W26,2016-03-23,USD,FB US Equity,43,30,W26,107.589000
FB US Equity:W27,2016-03-24,USD,FB US Equity,43,30,W27,107.990667
FB US Equity:W28,2016-03-28,USD,FB US Equity,46,30,W28,108.383333
FB US Equity:W29,2016-03-29,USD,FB US Equity,43,30,W29,108.854333
...,...,...,...,...,...,...,...
FB US Equity:W193,2016-11-17,USD,FB US Equity,42,30,W193,126.097667
FB US Equity:W194,2016-11-18,USD,FB US Equity,40,30,W194,125.698667
FB US Equity:W195,2016-11-21,USD,FB US Equity,42,30,W195,125.416333
FB US Equity:W196,2016-11-22,USD,FB US Equity,42,30,W196,125.169333
FB US Equity:W197,2016-11-23,USD,FB US Equity,42,30,W197,124.895667
FB US Equity:W198,2016-11-25,USD,FB US Equity,43,30,W198,124.647667
FB US Equity:W199,2016-11-28,USD,FB US Equity,43,30,W199,124.398667
FB US Equity:W200,2016-11-29,USD,FB US Equity,43,30,W200,124.176333
FB US Equity:W201,2016-11-30,USD,FB US Equity,43,30,W201,123.838000
FB US Equity:W202,2016-12-01,USD,FB US Equity,43,30,W202,123.337667
FB US Equity:W203,2016-12-02,USD,FB US Equity,43,30,W203,122.851000
FB US Equity:W204,2016-12-05,USD,FB US Equity,43,30,W204,122.363000
FB US Equity:W205,2016-12-06,USD,FB US Equity,43,30,W205,121.830667
FB US Equity:W206,2016-12-07,USD,FB US Equity,43,30,W206,121.352667
FB US Equity:W207,2016-12-08,USD,FB US Equity,43,30,W207,120.948333
FB US Equity:W208,2016-12-09,USD,FB US Equity,43,30,W208,120.614667
FB US Equity:W209,2016-12-12,USD,FB US Equity,43,30,W209,120.164000
FB US Equity:W210,2016-12-13,USD,FB US Equity,43,30,W210,119.808000
FB US Equity:W211,2016-12-14,USD,FB US Equity,43,30,W211,119.498333
FB US Equity:W212,2016-12-15,USD,FB US Equity,43,30,W212,119.278333
FB US Equity:W213,2016-12-16,USD,FB US Equity,43,30,W213,119.274000
FB US Equity:W214,2016-12-19,USD,FB US Equity,43,30,W214,119.223667
FB US Equity:W215,2016-12-20,USD,FB US Equity,43,30,W215,119.121667
FB US Equity:W216,2016-12-21,USD,FB US Equity,43,30,W216,118.949000
FB US Equity:W217,2016-12-22,USD,FB US Equity,43,30,W217,118.756333
FB US Equity:W218,2016-12-23,USD,FB US Equity,43,30,W218,118.638667
FB US Equity:W219,2016-12-27,USD,FB US Equity,44,30,W219,118.605000
FB US Equity:W220,2016-12-28,USD,FB US Equity,44,30,W220,118.666333
FB US Equity:W221,2016-12-29,USD,FB US Equity,44,30,W221,118.638000
FB US Equity:W222,2016-12-30,USD,FB US Equity,44,30,W222,118.595000

In [71]:
bql.Request?

Init signature: bql.Request(universe, items, with_params=None, preferences=None)
Docstring:
Create a BQL request object.

Parameters
----------
universe
    A BQL item or list of items that describes a security universe, an
    iterable of security ticker strings, or a single security string.  The
    universe values are included in the `FOR` clause of the BQL query
    string.
items
    A BQL data item or list of BQL data items.  The items values are
    include in the `GET` clause of the BQL query string.
with_params
    A dict that maps parameter names to values. These parameter values are
    put in the `WITH` clause of the BQL query string.
preferences
    A mapping of preference parameter names to values.

Returns
-------
BQL request object


Example
-------
>>> bq = bql.Service()
>>> index = bq.univ.members("INDU Index")
>>> price = bq.data.px_last()
>>> request = bql.Request(index, price)
>>> response = bq.execute(request)
BQL response object

|
File:           c:\blp\bquant\environments\bqnt-1.267.1\lib\site-packages\bql\request\request.py
Type:           type