# Pivot Table

<img style="float:left;" src="../images/pivot1.jpg" width="300" height="300" />

In [4]:
import pandas as pd
import bqviz as bqv
import bql
from ipywidgets import Dropdown
from IPython.display import display

bq = bql.Service()

In [2]:
request = """
let(#buckets=if(in(BB_COMPOSITE,['BB','BB+','BB-']),'BB',
if(in(BB_COMPOSITE,['BBB','BBB+','BBB-']),'BBB',
if(in(BB_COMPOSITE,['B','B+','B-']),'B',
if(in(BB_COMPOSITE,['AA','AA+','AA-']),'AA',
if(in(BB_COMPOSITE,['AAA','AAA+','AAA-']),'AAA',
if(in(BB_COMPOSITE,['A','A+','A-']),'A',
'NR/Other'))))));

#INT_RATIO=VALUE(IMPLIED_VOLATILITY,translatesymbols(members('LUACTRUU index'),instrumentidtype='Corp',targetIDtype='fundamentalticker'),mapby=lineage).value;

#wgt=ID().Weights;

#AVG_IVOL=groupsort(WAVG(group(#INT_RATIO,#buckets),group(#wgt,#buckets)),order=desc);

#count=count(group(id,#buckets));) 

get(#AVG_IVOL,#count) 
for(Members('LUACTRUU Index'))

"""

# Execute the request
response_z = bq.execute(request)

In [3]:
# Display the response in a DataFrame
newdf4 =response_z[0].df()
#newdf2 = bql.combined_df(response8)
newdf4

         ORIG_IDS  #BUCKETS  #AVG_IVOL
ID
BB           None        BB  48.693606
BBB          None       BBB  45.556944
NR/Other     None  NR/Other  44.446927
A            None         A  42.178763
AA           None        AA  35.824039
AAA          None       AAA  32.276539

In [4]:
#combine the multi-dataframe response into one df
newdf4 = pd.DataFrame({r.name:r.df()[r.name] for r in response_z})

In [5]:
newdf4

          #AVG_IVOL  #count
A         42.178763    2475
AA        35.824039     349
AAA       32.276539      70
BB        48.693606     122
BBB       45.556944    3406
NR/Other  44.446927      21

In [6]:


# Dropdown
dropdown = Dropdown(options=['Annual', 'Semi-Annual','Quarterly'],value='Annual',description='Periodicity')

display(dropdown)

Dropdown(description='Periodicity', options=('Annual', 'Semi-Annual', 'Quarterly'), value='Annual')